<title>Cadastro</title>
<style>
  body {
    font-family: "Didact Gothic", sans-serif;
    background-image: url({{backgroundImage}});
  }

  .btn-custom-green {
    background-color: #2cbd4e;
    border-color: #28a745;
  }

  .btn-custom-green:hover {
    background-color: #389b4f;
  }

  .error-message {
    color: red;
  }
</style>
</head>

<body>
  <div class="container d-flex align-items-center justify-content-center"
    style="min-height: 100vh; padding-top: 20px; padding-bottom: 20px">
    <div class="card shadow-lg d-flex flex-column" style="width: 50rem">
      <div class="d-flex justify-content-between align-items-center p-4">
        <h3 class="mb-0">Cadastro</h3>
        <img src="{{logoImage}}" alt="Logo" class="img-fluid" style="max-height: 80px" />
      </div>
      <div class="card-body">
        <form id="cadastroForm" action="/cadastrar" method="POST">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nome" placeholder="Insira seu nome" required name="nome" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="cpf">CPF :</label>
              <input type="text" maxlength="15" class="form-control" id="cpf" placeholder="Insira seu CPF" required
                name="cpf" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="telefone-celular">Telefone Celular:</label>
              <input type="tel" maxlength="15" onkeyup="handlePhone(event)" class="form-control" id="telefone-celular"
                placeholder="Insira seu telefone celular" required name="telefone_celular" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="telefone-residencial">Telefone Residencial (Opcional):</label>
              <input type="tel" maxlength="15" onkeyup="handlePhone(event)" class="form-control"
                id="telefone-residencial" placeholder="Insira seu telefone residencial" name="telefone_residencial" />
            </div>
          </div>
          <div class="mb-3" style="margin-top: 10px">
            <label for="email">E-mail: </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Insira um e-mail" required />
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha"
              placeholder="Crie uma senha com no mínimo um número e um caractere especial" required name="senha" />
          </div>
          <div class="form-group mt-2">
            <label for="confirmarSenha">Confirme sua Senha:</label>
            <input type="password" class="form-control" id="confirmarSenha" placeholder="Repita a senha" required />
            <small id="senhaErro" class="text-danger d-none">As senhas não coincidem.</small>
            <small id="passwordError" class="text-danger d-none">A senha deve conter ao menos um número e um caractere
              especial.</small>
          </div>
          <div class="mb-3" style="margin-top: 10px">
            <label for="cep">CEP :</label>
            <input type="text" class="form-control" id="cep" placeholder="Insira seu CEP" required name="cep" />
          </div>
          <div class="mb-3">
            <label for="logradouro">Logradouro:</label>
            <input type="text" class="form-control" id="logradouro" placeholder="Insira seu logradouro" required
              name="rua" />
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="numero">Número:</label>
              <input type="text" class="form-control" id="numero" placeholder="Número" name="numero" />
            </div>
            <div class="col-md-4 mb-3">
              <label for="complemento">Complemento (Opcional):</label>
              <input type="text" class="form-control" id="complemento" placeholder="Complemento" name="complemento" />
            </div>
            <div class="col-md-4 mb-3">
              <label for="bairro">Bairro:</label>
              <input type="text" class="form-control" id="bairro" placeholder="Bairro" required name="bairro" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 mb-3">
              <label for="cidade">Cidade:</label>
              <input type="text" class="form-control" id="cidade" placeholder="Cidade" required name="cidade" />
            </div>
            <div class="col-md-4 mb-3">
              <label for="uf">UF :</label>
              <input type="text" class="form-control" id="uf" placeholder="UF" required name="uf" />
            </div>
          </div>
          <div class="mb-3">
            <label for="propriedade">Nome da Propriedade Rural (Opcional):</label>
            <input type="text" class="form-control" id="propriedade"
              placeholder="Insira o nome da propriedade ou fazenda" name="nome_fazenda" />
          </div>

          {{#if errorMessage}}
          <div class="error-message">{{errorMessage}}</div>
          {{/if}}
          <button type="submit" class="btn btn-custom-green text-white btn-block mt-3 rounded-pill"
            style="width: 10rem">
            Cadastrar
          </button>
          <p class="mt-4 text-center">
            <a href="/">Já tem conta? Faça Login! </a>
          </p>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/inputmask.min.js"></script>
  <script>
    document.getElementById("cep").addEventListener("blur", function () {
      var cep = this.value.replace(/\D/g, "");
      if (cep.length === 8) {
        fetch(`https://viacep.com.br/ws/${cep}/json/`)
          .then((response) => response.json())
          .then((data) => {
            if (!data.erro) {
              document.getElementById("logradouro").value = data.logradouro;
              document.getElementById("bairro").value = data.bairro;
              document.getElementById("cidade").value = data.localidade;
              document.getElementById("uf").value = data.uf;
            } else {
              alert("CEP não encontrado.");
            }
          })
          .catch((error) => console.error("Erro ao buscar CEP:", error));
      } else {
        alert("CEP inválido.");
      }
    });

    document
      .getElementById("cadastroForm")
      .addEventListener("submit", function (event) {
        var senha = document.getElementById("senha").value;
        var confirmarSenha = document.getElementById("confirmarSenha").value;
        var senhaErro = document.getElementById("senhaErro");
        var passwordError = document.getElementById("passwordError");

        if (senha !== confirmarSenha) {
          senhaErro.classList.remove("d-none");
          event.preventDefault();
        } else {
          senhaErro.classList.add("d-none");
        }

        var regex = /^(?=.*[0-9])(?=.*[!@#$%^&*])/;

        if (!regex.test(senha)) {
          passwordError.classList.remove("d-none");
          event.preventDefault();
        } else {
          passwordError.classList.add("d-none");
        }
      });
    document.addEventListener('DOMContentLoaded', function () {
      Inputmask({ mask: '(99) 99999-9999' }).mask('#telefone-celular');
      Inputmask({ mask: '(99) 9999-9999' }).mask('#telefone-residencial');
      Inputmask({ mask: '999.999.999-99' }).mask('#cpf');
    });

    function handlePhone(event) {
      var input = event.target;
      var value = input.value.replace(/\D/g, '');
      if (input.id === 'telefone-celular') {
        input.value = value.replace(/(\d{2})(\d{5})(\d{4})/, '($1) $2-$3');
      } else if (input.id === 'telefone-residencial') {
        input.value = value.replace(/(\d{2})(\d{4})(\d{4})/, '($1) $2-$3');
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      const errorMessage = "{{errorMessage}}";
      console.log('Error Message in Script:', errorMessage);
      if (errorMessage) {
        alert(errorMessage);
      }
    }); 
  </script>
</body>
</html>