<!DOCTYPE html>
<html>

<head>
  <title>Redefinição de Senha</title>
  <style>
    body {
      font-family: "Didact Gothic", sans-serif;
      background-image: url('{{backgroundImage}}');
      background-size: cover;
      color: #333;
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    .card {
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 400px;
      padding: 20px;
    }

    .btn-custom-green {
      background-color: #2cbd4e;
      color: white;
      text-decoration: none;
      padding: 10px 15px;
      border-radius: 5px;
      display: inline-block;
      text-align: center;
      transition: background-color 0.3s;
    }

    .btn-custom-green:hover {
      background-color: #389b4f;
    }

    .text-center {
      text-align: center;
    }

    .mt-4 {
      margin-top: 1.5rem;
    }

    .mb-3 {
      margin-bottom: 1rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="text-center mt-4">
        <img src="/img/IMG-20240907-WA0006-removebg-preview.png" alt="Logo" class="img-fluid" style="max-height: 100px" />
      </div>
      <h2 class="text-center mt-4">Redefinição de Senha</h2>
      <p class="mb-3">Olá,</p>
      <p>Você solicitou uma redefinição de sua senha. Aqui está o token: {{token}}</p>
      <p>Clique no botão abaixo para criar uma nova senha:</p>
      <div class="text-center mt-4">
        <!-- Link para a página de redefinição de senha com o token e o email -->
        <a href="http://localhost:8082/redefinir_senha?token={{token}}&email={{email}}"
          class="btn-custom-green">Redefinir Senha</a>
      </div>
      <p class="mt-4">Se você não solicitou essa alteração, pode ignorar este e-mail.</p>
      <p class="text-center" style="color: #aaa; font-size: 0.85em;">&copy; 2024 Agrostock. Todos os direitos
        reservados.</p>
    </div>
</body>

</html>